p {
    font-family: Arial, Helvetica, sans-serif
}

#navigation {
    margin-left: 10%;
    margin-right: 10%;
    z-index: 3;
    opacity: .7;
    height: 5vw;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background-color: #3A6B34;
}

.NavTxt {
    margin: 20px 60px;
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    font-family: 'Georgia', Times New Roman, Times, serif;
    display: inline;
}

.NavOn {
    color: grey !important;
    text-decoration: none;
}

.NavLink {
    color: black !important;
    text-decoration: none;
}

.NavLink:hover {
    color:grey !important;
    text-decoration: none;
}

/* When more scores add second page for sheet */
#BackgroundImg {
    margin-top: 3vh;
    margin-left: 22%;
    z-index: -11;
    position: fixed;
}

.PageName {
    margin-left: 29%;
    margin-top: 34vh;
    z-index:-10;
    font-size: 35px;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(187, 187, 187);
    opacity: 0.9;
    position: fixed;
}

#PageNameAbout {
    margin-left: 40%;
    font-size: 30px;
}

#PageNameMusic {
    margin-left: 22%;
    font-size: 30px;
}

#PageNameSevCon {
    margin-left: 43%;
    font-size: 30px;
}

#Background {
    margin-top: 90vh;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
    height: 1300px;
    border-radius: 25px;
    z-index: -9;
    background-color: black;
    position: absolute;

}

#BackgroundAbout {
    margin-top: 90vh;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
    height: 700px;
    border-radius: 25px;
    z-index: -9;
    background-color: black;
    position: absolute;

}

.BodStart {
    margin-top: 90vh;
    margin-left: 12%;
    margin-right: 12%;
    position: absolute;
}

#A {
    margin-top: 20vh !important;
}

.Row {
    display: flex;
}

.ColumnL {
    margin-top:20px;
    margin-left: 50px;
    flex: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: grey;
    text-align: center;
}

.ColumnR {
    margin-top:20px;
    margin-left: 60px;
    flex: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: grey;
    text-align: center;
}

.ColumnLink {
    text-decoration: none;
    color: black;
}

.Subtitle {
    border-radius: 5px;
    text-align: center;
    background-color: grey;
}

#MusicSub {
    margin-left: 30vh;
}

.RowLi {
    text-align: center;
    list-style: none;
}

/* .Up {
    margin-top: 100vh;
    margin-left: 50%;
}  */

.SmallBox {
    margin-top: 20vh;
    margin-left: 33%;
    width: 500px;
    border-radius: 15px;
    padding: 6px;
    text-align: center;
    background-color: grey;
    position: absolute;
}

.title {
    margin-left: 14%;
    width: 330px;
    word-wrap: break-word;
}


.form {
    padding: 1rem;
    width: 450px;
    text-align: center;
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.FSpace {
    padding: 10px;
}

.BioBox  {
    margin-top: 20vh;
    margin-left: 400px;
    width: 500px;
    padding: 5px;
    flex: 33.33%;
    justify-content: center;
    background-color: black;
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.BulletBox  {
    margin-left: 180px;
    width: 500px;
    justify-content: center;
    background-color: black;
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.C {
    margin-top: 23vh;
    padding: 8px;
    flex: 33.33%;
    float: left;
}

.VidBigCon {
    padding: 8px;
    display: flex;
}

.VidCon{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    flex: 1
}

.VidCon2{
    margin-left: 240px;
}

.VidBox{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;            
    position: absolute;
}

.TopBox{
    z-index: 9;
    width: 450px;
    height: 350px;
    background-color: grey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    opacity: 100%;
}

.TopBox:hover {
    display: none;
}

.ScoreTitle {
    border-radius: 5px;
    width: 300px;
    margin-left: 240px;
    text-align: center;
    background-color: grey;
}